<div style="color:black">
<center><h2 >Popular Questions</h2></center>
<section class="help">
<div class="qn1"><b><form> How to book my homes?</form></b><button onclick="answer1()">Answer</button></div>
<div class="qn2"><b><form>How to contact owner?</form></b><button onclick="answer2()">Answer</button></div>
<div class="qn3"><b><form>How to cancel my order?</form></b><button onclick="answer3()">Answer</button></div>
</section>
<script>
function answer1(){
	alert("You should contact the owner before booking any homes");
}

function answer2(){
	alert("You can find the contact details of the owners in the respective home page");
}

function answer3(){
	alert("You can cancel your homes under my bookings category");
}
</script>
</div>>