 <div>
 <div class="navbar navbar-default navbar-static-top" role="navigation">
     <div class="container">

          <div class="navbar-header">
               <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
               </button>
               <a href="./home.html" class="navbar-brand"><i class="fa fa-get-pocket" style="font-size:36px;color:red"></i></a>
          </div>
          <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                    <li><a ng-href="#!/profile.html">Profile</a></li>
                    <li class="active"><a ng-href="#!/homes.html">Homes</a></li>
                    <li><a ng-href="#!/trips.html">Trips</a></li>
                    <li><a ng-href="#!/help.html">Help</a></li>
                    <li><a ng-href="#!/login.html">Logout</a></li>
               </ul>
          </div>

      </div>
  </div>
<hr>

<a ng-href="#!/welcome">Index</a>
</div>
<div ui-view></div>
<footer>
     <div class="container">
          <div class="row">

             

               <div class="clearfix col-md-12 col-sm-12">
                    
                </div> 

               <div class="col-md-6 col-sm-6">
                    <div class="footer-copyright">
                         <p>© 2017 AirBnB | All Rights Reserved.</p>
                    </div>
               </div>

               <div class="col-md-6 col-sm-6 logo">
               
                         <a href="#" class="fa fa-facebook">&nbsp&nbsp&nbsp</a>
                         <a href="#" class="fa fa-twitter">&nbsp&nbsp&nbsp</a>
                         <a href="#" class="fa fa-linkedin">&nbsp&nbsp&nbsp</a>
               </div>
               
          </div>
     </div>
</footer>